footer {
  height: 89px;
  width: 100%;
  background-color:white;
  margin-top:60px;
  display: flex;
  justify-content: space-between;
}

.right-footer {
  margin-left: 140px;
}
.logo-footer {
  font-family:"Raleway", sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 7px;
}

.copyright {
  font-family:"Open Sans",sans-serif;
  color: $color-green;
  font-size: 11px;
  font-weight: 300;
}

.left-footer{
  margin-right: 140px;
}

.icon-twitter {
  margin-right: 20px;
}