.pricing {
  margin-top:-10em;
  .pricing__title {
    font-size:2.2em;
    font-weight:400;
    text-align: center;
    margin-bottom:1em;
  }
  .pricing__plans {
    display:flex;
    flex-direction:column;
    align-items:center;

    .plan__basic {
      border: 1px solid $color-redish;
      width:293px;
      height:251px;
      border-radius:18px;
      display: flex;
      justify-content: space-evenly;
      align-items:center;
      .basic__title_price {
        text-align: center;
        margin-left:2em;
        .basic__title {
          font-size:1.3em;
          font-weight:700;
        }
        .basic__price {
          font-size:2.5em;
          font-weight:300;
          font-family:$font-open-sans;
          color:$color-redish;
        }
      }
      .pricing__elements {
        .pricing__single{
          margin-bottom:1.5em;
          font-size:0.9em;
        }
        .pricing__single::before {
          content:"";
          background-image: url(/assets/Ckechmark-1.svg);
          width:11px;
          height:11px;
          display:inline-block;
          background-position:center;
          background-repeat: no-repeat;
          margin: 0 1em;


        }
        .pricing__single-not::before {
          content:"";
          background-image: url(/assets/Close.svg);
          //color:$color-redish;
          background-position:center;
          background-repeat: no-repeat;
        }
      }

    }
  }
  .btn{

    color:white;
    border-radius:23px;
    font-family:$font-open-sans;
    font-size:0.8em;
    font-weight:700;
    width:150px;
    height:50px;

  }
  .basic-btn {
    background-color:$color-redish;
    position:relative;
    bottom:2.5em;
    left:5.5em;
  }
  .prof-btn {
    background-color:$color-primary;

  }
  .basic-btn {
    background-color:$color-redish;
  }
}