.pricing__title {
  font-family:"Raleway", sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-top: 200px;
  margin-bottom:30px;
  text-align: center;
}

.pricing-plans {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.pricing-box__basic {
  border: 1px solid $color-redish;
  width: 372px;
  height: 461px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:50px;

}

.basic-premium__title {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-top:30px;

}

.price-basic {
  font-family:"Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 300;
  color: var(--color-redish);
  margin-top:15px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.pricing-items {
  font-family:"Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top:60px;
  text-align: center;

}

.pricing-single-item {
  padding: 15px 0;
  font-family:"Open Sans" , sans-serif;
  font-size: 14px;
}

.pricing-single-item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("public/assets/Checkmark-1.svg");
}

.pricing-single-item__not::before {
  background-image: url("public/assets/Close.svg");
}

.button_basic {
  background-color: $color-redish;
  padding: 16px 57px;
  border-radius:23px;
  text-decoration: none;
  color: white;
  position: relative;
  bottom: -45px;
}

.pricing-box__professional {
  border: 1px solid $color-primary;
  width: 405px;
  height: 500px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:50px;

}

.prof-premium__title {
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  font-weight: 700;
  margin-top:30px;
}

.price-prof {
  color: $color-primary;
}

.limited {
  font-size:12px;
  font-family:"Raleway",sans-serif;
  font-weight: 700;
  color:#13253B;
  margin-top: 10px;
}

.button-prof {
  background-color: $color-primary;
  bottom:-65px;
}

.pricing-box__premium {
  border: 1px solid $color-green;
}

.price-premium {
  color: $color-green;
}

.button_premium {
  background-color: $color-green;
  bottom: -27px;
}